[Desktop Entry]
Version=1.0
Name=zaread
Type=Application
Exec=zaread %f
TryExec=zaread
Comment=Lightweight ebook and office document reader
Icon=org.pwmt.zathura
NoDisplay=true
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;image/vnd.djvu;application/epub+zip;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/msword;application/vnd.ms-excel;application/vnd.ms-powerpoint;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.presentation;text/rtf;text/csv;application/x-mobipocket-ebook;text/plain;text/x-c;text/x-objective-c;text/x-script.python;
